*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	height: 150px;
	background: #4EA0FF url(../img/pattern.png) repeat-x;
	position: relative;
}
header img{
	height: 80px;
	position: absolute;
	bottom: 20px;
	left: 10px;
}